@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
}

@media print {
  @page {
    size: 100mm 148mm;
  }

  .printable-image {
    width: 100mm !important;
    height: 148mm;
    display: flex;
  }
}
